<!-- success story -->
<section class="section bg-cover" data-background="../../../../uploads/backgrounds/success-story.jpg">
  <div class="container mt-6">
    <div class="row">
      <div class="col-lg-6 col-sm-4 position-relative success-video">
        <a class="play-btn venobox" href="https://youtu.be/nA1Aqp0sPQo" data-vbtype="video">
          <i class="ti-control-play"></i>
        </a>
      </div>
      <div class="col-lg-6 col-sm-8">
        <div class="bg-white p-5">
          <h2 class="section-title" style="font-size: 40px;">Our Journey</h2>
          <p>Berdiri Sejak 1999 Pada Bulan November, LKP BHI Terus Berkomitmen Menciptakan Lulusan Yang Kompeten Di Bidang Hospitality Industry, Di Didirikan Oleh Yayasan Pusaka Bogor Yang Merupakan Yayasan Yang Bergerak Dalam Dunia Pendidikan. LKP BHI Meraih Beberapa Penghargaan Dari Dalam Dan Luar Negeri, Sebagai Lembaga Pendidikan Berprestasi.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /success story -->