<!-- banner-feature -->
<section class="bg-gray overflow-md-hidden mt-3">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-xl-4 col-lg-5 align-self-end">
        <h2 class="text-primary mt-6" style="text-align: center;">Why Us?</h2>
        <img class="img-fluid w-100" src="images/banner/banner-feature.png" alt="banner-feature">
      </div>
      <div class="col-xl-8 col-lg-7">
        <div class="row feature-blocks bg-gray justify-content-between">
          <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
            <i class="ti-rss-alt mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">Mempunyai Hotel Afiliasi</h3>
            <p>Hotel Salak The Heritage merupakan hotel yang berada di dalam satu grup manajemen dengan LKP BHI</p>
          </div>
          <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
            <i class="ti-world mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">Kerjasama Internasional</h3>
            <p>Bekerja sama dengan Hotel Lokal berbintang 4 dan 5 dan Hotel Luar Negeri</p>
          </div>
          <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
            <i class="ti-medall mb-xl-4 mb-lg-3 mb-4 feature-icon" style="font-size: 60px;"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">Sudah Terakreditasi </h3>
            <p>Sudah memiliki izin resmi dengan No. Izin : 420-0005-IPSPN Tahun 2020</p>
          </div>
          <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
            <i class="ti-book mb-xl-4 mb-lg-3 mb-4 feature-icon"></i>
            <h3 class="mb-xl-4 mb-lg-3 mb-4">Basic English for Hospitality</h3>
            <p>Mendapatkan pembekalan Basic English for Hospitality secara gratis</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /banner-feature -->