<!-- Companies Section -->
<section class="companies-section py-5">
  <div class="container text-center">
    <h2 class="section-title">With Experienced Tutors</h2><br>

    <!-- Swiper -->
    <div class="swiper init-swiper">
      <script type="application/json" class="swiper-config">
        {
          "loop": true,
          "speed": 600,
          "autoplay": {
            "delay": 3000
          },
          "slidesPerView": "auto",
          "pagination": {
            "el": ".swiper-pagination",
            "type": "bullets",
            "clickable": true
          },
          "breakpoints": {
            "320": {
              "slidesPerView": 2,
              "spaceBetween": 40
            },
            "480": {
              "slidesPerView": 3,
              "spaceBetween": 60
            },
            "640": {
              "slidesPerView": 4,
              "spaceBetween": 80
            },
            "992": {
              "slidesPerView": 5,
              "spaceBetween": 120
            },
            "1200": {
              "slidesPerView": 6,
              "spaceBetween": 120
            }
          }
        }
      </script>
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><img src="images/clients/client-1.png" class="img-fluid company-logo" alt="Company 1"></div>
        <div class="swiper-slide"><img src="images/clients/client-2.png" class="img-fluid company-logo" alt="Company 2"></div>
        <div class="swiper-slide"><img src="images/clients/client-3.png" class="img-fluid company-logo" alt="Company 3"></div>
        <div class="swiper-slide"><img src="images/clients/client-4.png" class="img-fluid company-logo" alt="Company 4"></div>
        <div class="swiper-slide"><img src="images/clients/client-5.png" class="img-fluid company-logo" alt="Company 5"></div>
        <div class="swiper-slide"><img src="images/clients/client-6.png" class="img-fluid company-logo" alt="Company 6"></div>
        <div class="swiper-slide"><img src="images/clients/client-7.png" class="img-fluid company-logo" alt="Company 7"></div>
        <div class="swiper-slide"><img src="images/clients/client-8.png" class="img-fluid company-logo" alt="Company 8"></div>
      </div>
    </div>
    <!-- End Swiper -->
    
  </div>
</section>
