<!-- funfacts -->
<section class="section-sm bg-primary">
  <div class="container">
    <div class="row">
      <!-- funfacts item -->
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <!-- <img loading="lazy" src="images/icon-image/fact1.png" alt="facts-img" style="margin-bottom: 10px;"> -->
          <h1 style="font-size: 50px;" class="counterUp text-white" data-count="4000">0</h1>
          <h3 class="text-white">STUDENTS</h3>
        </div>
      </div>
      <!-- funfacts item -->
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h1 style="font-size: 50px;" class="counterUp text-white" data-count="25">0</h1>
          <h3 class="text-white">TUTORS</h3>
        </div>
      </div>
      <!-- funfacts item -->
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h1 style="font-size: 50px;" class="counterUp text-white" data-count="30">0</h1>
          <h3 class="text-white">PROGRAMS</h3>
        </div>
      </div>
      <!-- funfacts item -->
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
        <div class="text-center">
          <h1 style="font-size: 50px;" class="counterUp text-white" data-count="20">0</h1>
          <h3 class="text-white">CREDITS</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /funfacts -->