<!-- course list -->
<div class="row justify-content-center">
  <!-- course item -->
  <div class="col-lg-4 col-sm-6 mb-5">
    <div class="card p-0 border-primary rounded-0 hover-shadow">
      <img class="card-img-top rounded-0 img-course-thumb" src="images/courses/course-1.jpg" alt="course thumb">
      <div class="card-body">
        <ul class="list-inline mb-2">
          <li class="list-inline-item bg-third"><a class="text-primary" href="course.html"><strong>Prakerja</strong> </a></li>
          <li class="list-inline-item bg-third"><i class="ti-alarm-clock mr-1 text-primary"></i><strong class="text-primary">3 Jam/Hari</strong> </li>
        </ul>
        <a href="prakerja-single.html">
          <h4 class="card-title">Hotel Operations</h4>
        </a>
        <p class="card-text mb-4"> 
          Merupakan pelatihan yang akan mengajarkan para entrepreneur yang memiliki usaha di bidang laundry
        </p>
        <ul class="list-inline">
          <li class="list-inline-item mb-20-m"><a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a></li>
          <li class="list-inline-item"><h4 class="card-title">Rp20.000.000</h4></li>
        </ul>

      </div>
    </div>
  </div>
  <!-- course item -->
  <div class="col-lg-4 col-sm-6 mb-5">
    <div class="card p-0 border-primary rounded-0 hover-shadow">
      <img class="card-img-top rounded-0 img-course-thumb" src="images/courses/laundry-opeartions.jpg" alt="course thumb">
      <div class="card-body">
        <ul class="list-inline mb-2">
          <li class="list-inline-item bg-third"><a class="text-primary" href="course.html"><strong>Prakerja</strong> </a></li>
          <li class="list-inline-item bg-third"><i class="ti-alarm-clock mr-1 text-primary"></i><strong class="text-primary">3 Jam/Hari</strong> </li>
        </ul>
        <a href="course-single-2.html">
          <h4 class="card-title">Laundry Operations</h4>
        </a>
        <p class="card-text mb-4"> 
          Merupakan pelatihan yang akan mengajarkan para entrepreneur yang memiliki usaha di bidang laundry
        </p>
        <ul class="list-inline">
          <li class="list-inline-item mb-20-m"><a href="course-single-2.html" class="btn btn-primary btn-sm">Apply now</a></li>
          <li class="list-inline-item"><h4 class="card-title">Rp20.000.000</h4></li>
        </ul>

      </div>
    </div>
  </div>
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0 img-course-thumb" src="images/courses/course-3.jpg" alt="course thumb">
        <div class="card-body">
          <ul class="list-inline mb-2">
            <li class="list-inline-item bg-third"><a class="text-primary" href="course.html"><strong>Prakerja</strong> </a></li>
            <li class="list-inline-item bg-third"><i class="ti-alarm-clock mr-1 text-primary"></i><strong class="text-primary">3 Jam/Hari</strong> </li>
          </ul>
          <a href="course-single.html">
            <h4 class="card-title">Digital Marketing</h4>
          </a>
          <p class="card-text mb-4"> 
            Merupakan pelatihan yang akan mengajarkan para entrepreneur yang memiliki usaha di bidang laundry
          </p>
          <ul class="list-inline">
            <li class="list-inline-item mb-20-m"><a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a></li>
            <li class="list-inline-item"><h4 class="card-title">Rp20.000.000</h4></li>
          </ul>
  
        </div>
      </div>
    </div>
      <!-- course item -->
  <div class="col-lg-4 col-sm-6 mb-5">
    <div class="card p-0 border-primary rounded-0 hover-shadow">
      <img class="card-img-top rounded-0 img-course-thumb" src="images/courses/course-4.jpg" alt="course thumb">
      <div class="card-body">
        <ul class="list-inline mb-2">
          <li class="list-inline-item bg-third"><a class="text-primary" href="course.html"><strong>Prakerja</strong> </a></li>
          <li class="list-inline-item bg-third"><i class="ti-alarm-clock mr-1 text-primary"></i><strong class="text-primary">3 Jam/Hari</strong> </li>
        </ul>
        <a href="course-single.html">
          <h4 class="card-title">Barista</h4>
        </a>
        <p class="card-text mb-4"> 
          Merupakan pelatihan yang akan mengajarkan para entrepreneur yang memiliki usaha di bidang laundry
        </p>
        <ul class="list-inline">
          <li class="list-inline-item mb-20-m"><a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a></li>
          <li class="list-inline-item"><h4 class="card-title">Rp20.000.000</h4></li>
        </ul>

      </div>
    </div>
  </div>
    <!-- course item -->
    <div class="col-lg-4 col-sm-6 mb-5">
      <div class="card p-0 border-primary rounded-0 hover-shadow">
        <img class="card-img-top rounded-0 img-course-thumb" src="images/courses/course-5.jpg" alt="course thumb">
        <div class="card-body">
          <ul class="list-inline mb-2">
            <li class="list-inline-item bg-third"><a class="text-primary" href="course.html"><strong>Prakerja</strong> </a></li>
            <li class="list-inline-item bg-third"><i class="ti-alarm-clock mr-1 text-primary"></i><strong class="text-primary">3 Jam/Hari</strong> </li>
          </ul>
          <a href="course-single.html">
            <h4 class="card-title">Housekeeping</h4>
          </a>
          <p class="card-text mb-4"> 
            Merupakan pelatihan yang akan mengajarkan para entrepreneur yang memiliki usaha di bidang laundry
          </p>
          <ul class="list-inline">
            <li class="list-inline-item mb-20-m"><a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a></li>
            <li class="list-inline-item"><h4 class="card-title">Rp20.000.000</h4></li>
          </ul>
  
        </div>
      </div>
    </div>
      <!-- course item -->
  <div class="col-lg-4 col-sm-6 mb-5">
    <div class="card p-0 border-primary rounded-0 hover-shadow">
      <img class="card-img-top rounded-0 img-course-thumb" src="images/courses/course-6.jpg" alt="course thumb">
      <div class="card-body">
        <ul class="list-inline mb-2">
          <li class="list-inline-item bg-third"><a class="text-primary" href="course.html"><strong>Prakerja</strong> </a></li>
          <li class="list-inline-item bg-third"><i class="ti-alarm-clock mr-1 text-primary"></i><strong class="text-primary">3 Jam/Hari</strong> </li>
        </ul>
        <a href="course-single.html">
          <h4 class="card-title">Food and Beverage Consultant</h4>
        </a>
        <p class="card-text mb-4"> 
          Merupakan pelatihan yang akan mengajarkan para entrepreneur yang memiliki usaha di bidang laundry
        </p>
          <li class="list-inline-item mb-20-m"><a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a></li>
          <li class="list-inline-item"><h4 class="card-title">Rp20.000.000</h4></li>
        </ul>

      </div>
    </div>
  </div>
<!-- /course list -->