<!-- teachers -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        <h2 class="section-title text-primary">Our Professional Teachers</h2>
      </div>
      <!-- teacher -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        <a href="https://www.linkedin.com/" target="_blank">
          <div class="card border-primary rounded-10 hover-shadow">
            <div class="image-container">
              <img class="card-img-top" src="images/teachers/teacher-2.jpg" alt="teacher">
            </div>
            <div class="card-body">
              <h4 class="card-title">El John</h4>
              <p>Teacher</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a class="text-color" href="https://facebook.com/themefisher"><i class="ti-facebook"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="https://twitter.com/themefisher"><i class="ti-twitter-alt"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="https://github.com/themefisher"><i class="ti-google"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="https://instagram.com/themefisher/"><i class="ti-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </a>
      </div>
      <!-- teacher -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        <a href="https://www.linkedin.com/" target="_blank">
          <div class="card border-primary rounded-10 hover-shadow">
            <div class="image-container">
              <img class="card-img-top" src="images/teachers/teacher-1.jpg" alt="teacher">
            </div>
            <div class="card-body">
              <h4 class="card-title">Jacke Masito</h4>
              <p>Teacher</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a class="text-color" href="https://facebook.com/themefisher"><i class="ti-facebook"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="https://twitter.com/themefisher"><i class="ti-twitter-alt"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="https://github.com/themefisher"><i class="ti-google"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="https://instagram.com/themefisher/"><i class="ti-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </a>
      </div>
      <!-- teacher -->
      <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
        <a href="https://www.linkedin.com/" target="_blank">
          <div class="card border-primary rounded-10 hover-shadow">
            <div class="image-container">
              <img class="card-img-top" src="images/teachers/teacher-3.jpg" alt="teacher">
            </div>
            <div class="card-body">
              <a href="https://www.linkedin.com/" target="_blank">
                <h4 class="card-title">John Doe</h4>
              </a>
              <p>Teacher</p>
              <ul class="list-inline">
                <li class="list-inline-item"><a class="text-color" href="https://facebook.com/themefisher"><i class="ti-facebook"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="https://twitter.com/themefisher"><i class="ti-twitter-alt"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="https://github.com/themefisher"><i class="ti-google"></i></a></li>
                <li class="list-inline-item"><a class="text-color" href="https://instagram.com/themefisher/"><i class="ti-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<!-- /teachers -->
